

#contactMap{
    overflow: hidden;
}
#contactMap hr{
    margin-left: auto;
    margin-right: auto;
    width:21%;
}
#contactMap P{
    text-align: center;
    font-size: 23px;
    margin:0% 0px 2% 0px;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    //border-top: 1px solid ;
}
#contactsInfoPanel{
    overflow: hidden;
    margin-top:1%;
}
#contactMap img{
    width:100%;
}
#contactsinfo{
    background:#007D7E;
    overflow: hidden;
}
#contactsinfo h5{
    color:#003200;
    font-weight: bold;
}
#contactsinfo p{
    color:#fff;
    font-size:13px;
}
#contactsinfo p contdata{
   color:#CCCCCC;
    font-style:italic;
}
#secondColumnPanel{
    padding-right:0px;
}
#contactspanel{
    overflow: hidden;
    border-radius: 0em;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    margin:0px;
}
#contactspanel .panel-heading{
    background:#FF8B19;
    border-radius: 0em;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    color: #ffffff;
    font-weight: bold;
   font-family: "Lucida Bright", Georgia, serif;
}
#contactspanel table tr td{
    border-top: 0px;
}
.contactLabel{
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: bold;
}
#contactsendbutton{
    background:#FF8B19;
    border-radius: 0em;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    color: #ffffff;
    font-weight: bold;
   font-family: "Lucida Bright", Georgia, serif;
}