html{
    background-color: #555555;
}



body{
    /*background:#00CBFE;*/
color:#000000;
}


/********************************************************************QUICK LINKS***********************************************************************************/
/*#quicklinks{

    background: #000033;
    min-height: 21px;
    padding-left:5%;
    padding-top:0;
    margin:0px 0px 0.1% 0px;
    border:0px;
}

#quicklinks ul li a{

    padding-top:0px;
    padding-bottom:0px;
    color:#000;
}
#quicklinks ul li a:hover{
    background:#00ff8c;
}*/
/****************************************************************************MAIN NAVBAR AND BANNER ROW***************************************************************************/
#mainNavBarAndBanner{
    margin-bottom: 0px;
}
/******************************************************************************MAIN NAVBAR*************************************************************************/
#mainNavBar{
    margin:0px;
    background: #660000;
     border-radius:0em;
    
    //background: #B26500;
    /*    border-radius: 0.5em 0.5em 0em 0em;
        -webkit-border-radius: 0.5em 0.5em 0em 0em;
        -moz-border-radius: 0.5em 0.5em 0em 0em;
        margin:0.3% 0px 0px 0px;*/
    /*    background-image: url(../genimages/headerimage1.png);
        background-size: 100% 50px;*/

}
/*#mainNavBar .navbar{
    border-radius: 0em;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;    

}*/
/*********************************************************************DATA TOGGLE BUTOON**********************************************************************************/
#mainNavBar button.navbar-toggle
{
    background:#B26500;
}
#mainNavBar button.navbar-toggle:hover
{
    background:#333333;

}
#mainNavBar .navbar-toggle .icon-bar
{
    background-color:#009800;
    //color:#009800;
}
/****************************************************************************MAINNAV BAR COLLAPSE***************************************************************************/
#mainNavBar .navbar-collapse{
    padding: 0px;
   
}
/*******************************************************************************************************************************************************/

#mainNavBar ul{
    padding-left: 7%;
    //background: #660000;
    background-color: #660000;
    background-image: linear-gradient(#B20000, #660000);
    //float:right;
     
    /*    padding-right: 26%;*/
    font-weight: bold;
    /*  
padding-left:2%;*/
    /*    margin-right:1.4%;*/
    margin-left:0%;
    width:100%;
}
#mainNavBar ul li a{
    color:#fff;
    width: 100%;
}
#mainNavBar ul li{
    //width: 7%;
    padding-right:1.4%;
    padding-left:1.4%;
    text-align: center;

}
#mainNavBar .dropdown li a{
    width: 100%;


}
#mainNavBar ul li a:hover{
   // background-color: #320000;
    background-image: linear-gradient(#320000, #320000);
    //color:black;
}
#mainNavBar > ul >li.dropdown >ul li a {
    padding:0px;
}
/******************************************************************************BANNER*************************************************************************/
#banner{
    overflow: hidden;


}
#banner img{
padding-left:2px;
padding-right:2px;
background-repeat:no-repeat;
margin-top: -0.5%;
margin-bottom: -4%;
margin-left: 0px;
margin-right:40%;

}
#banner form{
margin-top: -20%;
margin-right:15%;
}
/*******************************************************************************FOOTER************************************************************************/
#footer{
    background-color: #320000; //#000018,#001818,#001800
    overflow: hidden;
    padding:1%;
    margin-top: 1%;

    //border-top: 3px solid  #AF7803;
    //border-bottom: 3px solid  #AF7803;
    color:#fff;
}
/*******************************************************************************************************************************************************/
#copyrightBar{
    overflow:hidden;
    //border-top: 1px solid  #AF7803;
    text-align: center;
    padding:0.3%;
}
i.red{
    color:red;
    // font-size: 21px;
}






/*icon inside an input elemnt in 
//html//
<div class="right-inner-addon ">
    <i class="icon-search"></i>
    <input type="search"
           class="form-control" 
           placeholder="Search" />
</div>
//css//
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
*/

// Testing
#wrap	{}   
#wrap > .ulnavbar ul{

}
#wrap > .ulnavbar{


    padding: 0;
    margin: 0;
    overflow: hidden;
    /*    border-right: 1px solid #54879d;*/
}

#wrap >.ulnavbar ul li 	{
    float: left; 
    text-align: center; 
    list-style: none; 
    font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
    padding: 0;
    margin: 0;
    background-color: #366b82;					
}

#wrap > .ulnavbar li a	{							
    /*    padding: 18px 0; */
    /*    border-left: 1px solid #54879d;
        border-right: 1px solid #1f5065;*/
    text-decoration: none;
    color: white;
    display: block;
}

#wrap > .ulnavbar li:hover, a:hover	{background-color: #54879d;}

#wrap > .ulnavbar ul li ul 	{
    display: none;

    margin: 0;
    padding: 0;								
}

#wrap > .ulnavbar li:hover ul {
    overflow: hiden;
    display:block;									
}

#wrap > .ulnavbar li ul li	{background-color: #54879d;}

#wrap > .ulnavbar ul li ul li a 	{
    border-left: 1px solid #1f5065; 
    border-right: 1px solid #1f5065; 
    border-top: 1px solid #74a3b7; 
    border-bottom: 1px solid #1f5065; 
}

#wrap > .ulnavbar ul li ul li a:hover	{background-color: #366b82;}

/**********************************************READ MORE CSS************************************************/
.readMore{
    color: #FE0000;
    font-size: 17px;
    text-decoration: none;
    background:none;
}
.readMore:hover{
    color: #980000;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size:21px;
    text-decoration: none;
    background: none;
}
/**********************************************************************************************/
